* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #e9ecef;
  overflow-x: hidden;
}

input {
  outline: none;
}
/* 
import { MdOutlineViewAgenda } from "react-icons/md";
import { MdPeopleAlt } from "react-icons/md";
import { TbWorldShare } from "react-icons/tb"; */
